<?xml version="1.0"?>
<launch>
  <rosparam file="$(find prob_rob_labs)/config/landmark.yaml" command="load"/>
  
  <node pkg="prob_rob_labs" type="measurement_predictor" name="mmt_pred" output="screen"/>
  <!-- Launch the state publisher node-->
  <include file="$(find prob_rob_labs)/launch/state.launch"/>

</launch>
